/* ================================= 
  Main
==================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #F5F8F8;
    text-align: center;
    margin: 0 5%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

body, a {
    color: #495057;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

hr {
    border: 1px solid #E9ECEF;
}

/* ================================= 
Navigation
==================================== */
.name {
	font-size: 1.35em;
    padding-top: 10px;
}

.nav {
    padding: 10px 0;
}

.name a, .nav a {
	display: block;
    color: #495057;
}
.nav a {
	font-size: .9em;
	text-transform: uppercase;
    background: #FCFFFF;
    font-weight: 600;
    padding: 5px 0;
    margin: 5px 0;
}

/* ================================= 
About
==================================== */
.about {
    padding: 30px 0;
}

.profilePic {
    max-width: 200px;
    margin: 0 auto;
}

.secondary {
    color: #6C757D;
    padding-top: 20px;
}

/* ================================= 
Portfolio
==================================== */
.portfolio {
    display: flex;
	flex-direction: column;
    background: #FCFFFF;
    padding: 20px 0;
}

.portfolioItem {
    padding: 10px 0;
}

.portfolioItem p {
    margin: 0 auto;
}

.sectionTitle {
    text-transform: uppercase;
    font-size: 1em;
}

/* ================================= 
Contact
==================================== */
.contact {
    padding: 60px 0;
    max-width: 500px;
    margin: 0 auto;
}

.contact p, a {
    color: #6C757D;
}

/* ================================= 
Footer
==================================== */
.footer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer,
.footerItem {
    display: flex;
}

.footerName {
	font-size: 1em;
}

.footerName a, .footerItem a {
	display: block;
    color: #495057;
}
.footerItem a {
	font-size: 1em;
	text-transform: uppercase;
    font-weight: 600;
}


/* ================================= 
Media Queries
==================================== */
@media screen and (max-width: 767px) {
    .footerLarge {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    /* Flex */
    .header,
    .nav, 
    .about, 
    .portfolio {
        display: flex;
    }

    /* Navigation */
    .header {    
        flex-direction: column;
		align-items: center;
    }

    .nav a {
        background: none;
        padding: 0px 15px;
    }

    /* About */
    .about {
        flex-wrap: wrap;
    }

    .aboutCol {
		flex: 1 50%;
	}

	.secondary {
		order: -1;
        text-align: left;
        padding-top: 0;
	}

    .secondary p {
        margin-top: 0;
        padding-top: 0;
    }

    .profilePic {
        max-width: 300px;
        margin-right: 0;
    }


    /* Portolfio */
    .portfolio {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .portfolio img {
        max-width: 95%;
        margin: 0 auto;
    }

    .portfolioItem {
		flex: 1 1 40%;
        display: inline-block;
	}

    .portfolioItem:first-child {
        flex: 1 1 100%;
    }

    .portfolioItem p {
        width: 300px;
    }

    /* Footer */
    .footerSmall {
        display: none;
    }

    .footerLarge {
        padding: 0 10px;
    }
}

@media screen and (min-width: 1024px) {
    /* Navigation */
    .header {
        flex-direction: row;
		justify-content: space-between;
    }  

    .portfolioItem {
		flex-basis: 0;
	}
}

@media screen and (min-width: 1025px) {
    body {
        max-width: 1024px;
        margin: 0 auto;
    }
}